/* Write your CSS here */
.image {
  height: 100px;
  width: 105px;
  margin: 10px;
}
.count-container {
  display: flex;
  margin: 10px;
}
.counts {
  margin: 10px;
  color: #475569;
  font-weight: 600;
}
button {
  color: #a35200;
  background-color: #f9d423;
  border: none;
  border-radius: 5px;
  height: 30px;
  font-weight: 600;
  margin: 10px;
  cursor: pointer;
}
.heads-tails {
  color: #334155;
  font-weight: 600;
  margin-top: 1;
}
.heading {
  color: #a35200;
  font-family: 'roboto';
  margin-bottom: 0;
}
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content-bg {
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
